<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies hint="list:AddAssembly">
            <assembly  hint="449298">/bin/Sitecore.Support.449298.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
    <scheduling>
      <agent type="Sitecore.Support.IsSolrAliveAgent, Sitecore.Support.449298" method="Run" interval="00:10:00" />
    </scheduling>
    <settings>
      <!-- SOLR CONNECTION RECOVERY STRATEGY 
           Set recovery strategy when Solr connection is established.
           Options: Always - Sitecore gets restarted every time when Solr connection is re-established. 
                    InitialFail - Sitecore gets restarted only if Solr connection wasn't available during initial application start. 
                    Off - Sitecore doesn't get restarted. Solr connection may not be initialized if it was not available during initial application start.
      -->
      <setting name="ContentSearch.Solr.Connection.RestartWhenEstablished" value="InitialFail" />
      <!--  PROPERTY STORE DATABASE FOR SOLR ALIASES AND COLLECTIONS
            Specifies database name to save alias-collection mappings.
            Default value: core
      -->
      <setting name="ContentSearch.Solr.PropertyStoreDatabase" value="core" />
      <!--  INDEXING INSTANCE
            Assigns the instance name of dedicated Sitecore installation for indexing operations.
            When empty, all indexing operations are triggered on this Sitecore instance.
            Default vaue: (empty)
      -->
      <setting name="ContentSearch.Solr.IndexingInstance" value="" />
      <!--  ENABLE OPTIMIZE ON REBUILD
            If enabled, runs index optimization command once rebuild is completed.
            It is recommended to disable it for Solr 5.x and higher as optimization command was deprecated. 
            It can be enabled for Solr 4.x to optimize indexes once rebuilt.
            Default vaue: false
      -->
      <setting name="ContentSearch.Solr.OptimizeOnRebuild.Enabled" value="false" />
      <!--  READ ONLY STRATEGY NAME
            Specifies strategy that is used for read only indexes.
            Default vaue: contentSearch/indexUpdateStrategies/manual
      -->
      <setting name="ContentSearch.Solr.ReadOnlyStrategy" value="contentSearch/indexUpdateStrategies/manual" />
      <!--  ENFORCES ALIAS CREATION ON INDEX INITIALIZATION
            If enabled, index aliases will be created on Solr side during index initialization process.
            Default vaue: false
      -->
      <setting name="ContentSearch.Solr.EnforceAliasCreation" value="true" />
    </settings>
  </sitecore>
</configuration>